

@*@{
    ViewData["Title"] = "Index";



}


<style>

    <style >
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #book {
        max-height: 100px;
    }

    img {
        max-height: 15px;
        margin-left: 5px;
    }
</style>




<img id="book" src="~/images/forDummies.png" />
<h2>Past Reviews</h2>

<p>
    <a asp-action="NewReview">Submit a New Review!</a>
</p>
<table class="table">
    <thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    <div style="font-size:20px"> @Html.DisplayFor(modelItem => item.ReviewTitle)</div><br />

                    by @Html.DisplayFor(modelItem => item.Username)

                    on @item.ReviewDate.ToString("MM-dd-yyyy")

                    @if (item.Rating == 5)
                    {
                        <img src="~/images/star.png" /><img src="~/images/star.png" /><img src="~/images/star.png" /><img src="~/images/star.png" /><img src="~/images/star.png" />
                    }
                    else if (item.Rating == 4)
                    {
                        <img src="~/images/star.png" /><img src="~/images/star.png" /><img src="~/images/star.png" /><img src="~/images/star.png" />
                    }
                    else if (item.Rating == 3)
                    {
                        <img src="~/images/star.png" /><img src="~/images/star.png" /><img src="~/images/star.png" />
                    }
                    else if (item.Rating == 2)
                    {
                        <img src="~/images/star.png" /><img src="~/images/star.png" />
                    }
                    else if (item.Rating == 1)
                    {
                        <img src="~/images/star.png" />
                    }
                    else if (item.Rating == 0)
                    {
                        <img id="bomb" src="~/images/bomb.png" />
                    }


                    <br />



                    @Html.DisplayFor(modelItem => item.ReviewText)<br />


                </td>

            </tr>
        }
    </tbody>
</table>*@
