@model Capstone.Web.Models.Survey_Result

<link href="~/css/surveyresult.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Survey";
    List<SelectListItem> parks = ViewBag.ParkSelectList as List<SelectListItem>;
}

<h2>Survey</h2>

<h4>Look at this spicy survey!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Survey">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkCode" class="control-label">What Is Your Favorite National Park?</label>
                <select asp-for="ParkCode" asp-items="@parks" class="form-control"></select>
                <span asp-validation-for="ParkCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">What is your e-mail address?</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label">What is your state of residence?  OH, IL, ect</label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityLevel" class="control-label">What is your activity level?</label>
                <div class="radio-button">
                    <input asp-for="ActivityLevel" type="radio" value="inactive" /> Inactive
                </div>
                <div class="radio-button">
                    <input asp-for="ActivityLevel" type="radio" value="sedentary" /> Sedentary
                </div>
                <div class="radio-button">
                    <input asp-for="ActivityLevel" type="radio" value="active" /> Active
                </div>
                <div class="radio-button">
                    <input asp-for="ActivityLevel" type="radio" value="extremely active" /> Extremely Active
                </div>
                <span asp-validation-for="ActivityLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
