@model List<SurveyResultViewModel>

<link href="/css/surveyresultresults.css" rel="stylesheet">

@{
    ViewData["Title"] = "SurveyResults";
}
<style>
    body {
        background-color: #edf6f8;
    }
</style>
<h2>SurveyResults</h2>

<h4>This is a survey result page!</h4>

<div class="top-ranked-parks">
    @{
        foreach (SurveyResultViewModel item in Model)
        {
            <div class="parks">
                <a asp-action="Details" asp-route-data="item.ParkCode"><img src="~/images/parks/@(item.ParkCode).jpg" class="park-image" /></a>
            </div>
            <div class="park-info">
                <div class="park-name">
                    <p>@item.ParkName</p>
                </div>
                <div class="total-votes">
                    <p><strong>Total Votes: @item.VoteCount</strong></p>
                </div>
            </div>
        }
    }
</div>
